<div class="m-sg-list-img">
    {% for icon in icons %}
    <div class="m-sg-list-img__col">
        <div class="m-sg-list-img__item">
            {{ macro.svg(icon) }}
        </div>
    </div>
    {% endfor %}
</div>