// *
// * Allow hyphens
// * https://justmarkup.com/log/2019/01/a-look-at-css-hyphenation-in-2019/
// *
// * @example
// *  @include hyphens()
// *
@mixin hyphens() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}