:root {
    --body-bg: $white;
    --sg-block-space: 5rem;
    --sg-header-height: 9.2rem;
    --sg-nav-left-width: 0rem;

    @include media-breakpoint-up(lg) {
        --sg-block-space: 8rem;
        --sg-nav-left-width: 27.1rem;
    }
}

$palette-colors: (
    "primary": var(--primary),
    "primary-dark": var(--primary-dark),
    "primary-darker": var(--primary-darker),

    "secondary": var(--brand-2),

    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "info": $info,

    // "white":    var(--white), // color white is already in /site CSS
    "gray-100": var(--gray-100),
    "gray-200": var(--gray-200),
    "gray-300": var(--gray-300),
    "gray-400": var(--gray-400),
    "gray-500": var(--gray-500),
    "gray-600": var(--gray-600),
    "gray-700": var(--gray-700),
    "gray-800": var(--gray-800),
    "black": var(--black),

    "i-green-darker": #184737,
    "i-green-dark": #316E58,
    "i-green": #368E6E,
    "i-green-light": #4EC79C,
    "i-green-lighter": #A3E6CE,
    "i-orange-darker": #8B5612,
    "i-orange-dark": #BC771F,
    "i-orange": #F29A2B,
    "i-orange-light": #FFC882,
    "i-orange-lighter": #FFE9CE,
    "i-yellow-darker": #B4A300,
    "i-yellow-dark": #E1CE16,
    "i-yellow": #FAE832,
    "i-yellow-light": #FFF58C,
    "i-yellow-lighter": #FFFBD1,
    "i-purple-darker": #3E305B,
    "i-purple-dark": #5E4C84,
    "i-purple": #957EC6,
    "i-purple-light": #DAC8FF,
    "i-purple-lighter": #EEE6FF,
    "i-pink-darker": #751F51,
    "i-pink-dark": #AD4180,
    "i-pink": #EA74B9,
    "i-pink-light": #FFC7E8,
    "i-pink-lighter": #FFF2F9,
    "i-red-darker": #6F0000,
    "i-red-dark": #A00000,
    "i-red": #E11414,
    "i-red-light": #FF5555,
    "i-red-lighter": #FFA6A6,
);

$prism-component-max-width: 57rem;