{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Mise en avant 3' %}

{% block styles_more %}
    {{ parent() }}
    <link rel="stylesheet" href="./style/bloc-global.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-o-mise-en-avant-3.css" type="text/css" />
{% endblock %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Blocs",
            blockTitle: title
        } %}

        <div class="sg-block-space">
            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--image-texte-cta-3.twig" with {
                        paraImgTextCtaTitle: title ~ " - Texte à gauche",
                        links: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Lien interne"
                            }
                        ],
                        paraImgTextCtaImage: "img/blocs/mise-en-avant-3-left.jpg",
                        paraImgTextCtaPositionLeft: true
                    } %}
                {% endblock %}
            {% endembed %}

            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--image-texte-cta-3.twig" with {
                        paraImgTextCtaTitle: title ~ " - Texte à droite",
                        paraImgTextCtaDesc: "<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>",
                        links: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Lien interne"
                            }
                        ],
                        paraImgTextCtaImage: "img/blocs/mise-en-avant-3-right.jpg",
                        paraImgTextCtaPositionRight: true
                    } %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="sg-block-space wysiwyg">
            <h2>Mise en place</h2>
            <p>Taille de l'image : 1200*400</p>
            <p>Charger les CSS suivantes :</p>
            <ul>
                <li>CSS du Système de Design</li>
                <li><a href="./style/bloc-global.css" target="_blank" class="file-link">CSS globale pour les blocs (1,9Ko - CSS)</a></li>
                <li><a href="./style/bloc-o-mise-en-avant-3.css" target="_blank" class="file-link">CSS du bloc {{ title }} (1,3Ko - CSS)</a></li>
            </ul>
        </div>
    </div>

{% endblock %}