{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Remontées multiple' %}

{% block styles_more %}
    {{ parent() }}
    <link rel="stylesheet" href="./style/bloc-global.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-m-remontee.css" type="text/css" />
{% endblock %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Blocs",
            blockTitle: title
        } %}

        <div class="sg-block-space">
            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--multi-push.twig" with {
                        paragMultiPushTitle: title,
                        teasers: [
                            {
                                teaserImgUrl: "https://picsum.photos/585/329",
                                teaserTitle: "Retour sur le 5e Conseil du Numérique Santé",
                                teaserDesc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
                                teaserDate:"15 Juillet 2021",
                                teaserType:"Marches publics",
                                teaserUrl:"#",
                            },
                            {
                                teaserTitle: "Cadre d’interopérabilité : concertation autour du volet Vaccination 2021.01 ",
                                teaserDate:"15 Juillet 2021",
                                teaserUrl:"#",
                            },
                            {
                                teaserTitle: "Une nouvelle étape marquante pour l'Identité Nationale de Santé (INS) !",
                                teaserDate:"15 Juillet 2021",
                                teaserType:"Marches publics",
                                teaserUrl:"#",
                            },
                            {
                                teaserTitle: "Le Référentiel MSSanté Editeurs de Clients de Messageries est en ligne !",
                                teaserDate:"15 Juillet 2021",
                                teaserType:"Communique de presse",
                                teaserUrl:"#",
                            }
                        ],
                        paragMultiPushLinks: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Lien interne"
                            }
                        ]
                    } %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="sg-block-space wysiwyg">
            <h2>Mise en place</h2>
            <p>Charger les CSS suivantes :</p>
            <ul>
                <li>CSS du Système de Design</li>
                <li><a href="./style/bloc-global.css" target="_blank" class="file-link">CSS globale pour les blocs (1,9Ko - CSS)</a></li>
                <li><a href="./style/bloc-m-remontee.css" target="_blank" class="file-link">CSS de la carte Remontée (1,3Ko - CSS)</a></li>
            </ul>
        </div>
    </div>

{% endblock %}