{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Contact' %}

{% block styles_more %}
    {{ parent() }}
    <link rel="stylesheet" href="./style/bloc-global.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-o-contact.css" type="text/css" />
{% endblock %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Blocs",
            blockTitle: title
        } %}

        <div class="sg-block-space">
            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--contact.twig" with {
                        paragContactTitle: "Contactez-nous",
                        paragContactDesc: "<p>Pour toutes vos questions, consultez la rubrique Assistance et si besoin, contactez-nous.</p>",
                        imgUrl: "img/blocs/contact.png",
                        imgWidth: 177,
                        imgHeight: 188,
                        links: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Contactez-nous"
                            }
                        ]
                    } %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="sg-block-space wysiwyg">
            <h2>Mise en place</h2>
            <p>Taille de l'image : 177*188</p>
            <p>Charger les CSS suivantes :</p>
            <ul>
                <li>CSS du Système de Design</li>
                <li><a href="./style/bloc-global.css" target="_blank" class="file-link">CSS globale pour les blocs (1,9Ko - CSS)</a></li>
                <li><a href="./style/bloc-o-contact.css" target="_blank" class="file-link">CSS du bloc {{ title }} (1Ko - CSS)</a></li>
            </ul>
        </div>
    </div>

{% endblock %}