{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Palette de couleurs' %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Guide de style - Couleurs",
            blockTitle: title,
            blockAccroche_text: "L'identité visuelle d'un site est constituée d'éléments facilement reconnaissables et associés à celui-ci. La palette de couleurs en est un élément essentiel, issu du travail de conception UX/UI. Ces couleurs prédéfinies sont déclinées en plusieurs catégories en fonction de leur rôle."
        } %}

        {# Couleurs primaires #}
        <div class="sg-block-space">
            <h2>Couleurs primaires</h2>
            <p>C'est la couleur prédominante du site.</p>

            {% include "../../styleguide/component/2-molecule/m-sg-palette.twig" with {
                palette: [
                    {
                        title: "Primary Darker",
                        hex: "#0F3F68",
                        class:"primary-darker"
                    },
                    {
                        title: "Primary Dark",
                        hex: "#155891",
                        class:"primary-dark"
                    },
                    {
                        title: "Primary",
                        hex: "#1D71B8",
                        class:"primary"
                    }
                ]
            } %}
        </div>

        {# Couleurs secondaires #}
        <div class="sg-block-space">
            <h2>Couleurs secondaires</h2>
            <p>Il s'agit là de la couleur qui vient soit se combiner avec la couleur principale, soit en alternative de celle-ci dans des contextes particuliers.</p>

            {% include "../../styleguide/component/2-molecule/m-sg-palette.twig" with {
                palette: [
                    {
                        title: "Secondary",
                        hex: "#D20050",
                        class:"secondary"
                    }
                ]
            } %}
        </div>

        {# Couleurs neutres #}
        <div class="sg-block-space">
            <h2>Couleurs neutres</h2>
            <p>Plutôt réservées aux textes, aux couleurs d'arrière-plan, aux bordures et aux séparateurs, elles se veulent plus discrètes et sont en principe des niveaux de gris.</p>

            {% include "../../styleguide/component/2-molecule/m-sg-palette.twig" with {
                palette: [
                    {
                        title: "Black",
                        hex: "#343852",
                        class:"black"
                    },
                    {
                        title: "Gray-800",
                        hex: "#464C6D",
                        class:"gray-800"
                    },
                    {
                        title: "Gray-700",
                        hex: "#697097",
                        class:"gray-700"
                    },
                    {
                        title: "Gray-600",
                        hex: "#969CBB",
                        class:"gray-600"
                    },
                    {
                        title: "Gray-500",
                        hex: "#C5C8DA",
                        class:"gray-500"
                    },
                    {
                        title: "Gray-400",
                        hex: "#DEE0EA",
                        class:"gray-400"
                    },
                    {
                        title: "Gray-300",
                        hex: "#EDEEF3",
                        class:"gray-300"
                    },
                    {
                        title: "Gray-200",
                        hex: "#F2F3F7",
                        class:"gray-200"
                    },
                    {
                        title: "Gray-100",
                        hex: "#F8F9FB",
                        class:"gray-100"
                    },
                    {
                        title: "White",
                        hex: "#FFFFFF",
                        class:"white"
                    }
                ]
            } %}
        </div>

        {# Couleurs fonctionnelles #}
        <div class="sg-block-space">
            <h2>Couleurs fonctionnelles</h2>
            <p>Les couleurs fonctionnelles ne sont pas propres au site, mais représentent des cas de figure universellement rencontrés quelle que soit la plateforme (erreur, succès, etc.).</p>

            {% include "../../styleguide/component/2-molecule/m-sg-palette.twig" with {
                palette: [
                    {
                        title: "Error",
                        hex: "#D20024",
                        class:"danger"
                    },
                    {
                        title: "Warning",
                        hex: "#E69215",
                        class:"warning"
                    },
                    {
                        title: "Success",
                        hex: "#9AB938",
                        class:"success"
                    },
                    {
                        title: "Information",
                        hex: "#369AEE",
                        class:"info"
                    },
                ]
            } %}
        </div>

        {# Accessibilité #}
        <div class="sg-block-space">
            <h2>Accessibilité</h2>
            <p>L'utilisation des couleurs est soumise à des règles d'accessibilité assez strictes, ayant notamment trait à un niveau minimal de constraste entre le texte et le fond pour les utilisateurs malvoyants.<p>
            <p><strong>Ressources externes</strong>:</p>
            <ul>
                <li><a href="https://www.tanaguru.com/contrastes-couleurs-regles-accessibilite/" target="_blank" class=" btn--icon-before"><svg class="svg-icon svg-angle-right" aria-hidden="true" focusable="false"><use xlink:href="svg-icons/icon-sprite.svg#angle-right"></use></svg>Contrastes de couleurs de texte : pour qui et selon quelles règles d’accessibilité ?</a></li>
                <li><a href="https://stephaniewalter.design/fr/blog/accessibilite-et-couleurs-outils-et-ressources-pour-concevoir-des-produits-accessible/" target="_blank" class=" btn--icon-before"><svg class="svg-icon svg-angle-right" aria-hidden="true" focusable="false"><use xlink:href="svg-icons/icon-sprite.svg#angle-right"></use></svg>Accessibilité et couleurs : outils et ressources pour concevoir des produits accessibles</a></li>
            </ul>
           
        </div>
    </div>

{% endblock %}