{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Identité visuelle' %}

{% block main %}

    <<div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Guide de style",
            blockTitle: title,
            blockAccroche_text: '(En cours de réalisation)'
        } %}
    </div>>

{% endblock %}