{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Designers' %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Pour commencer",
            blockTitle: title,
            blockAccroche_text: ""
        } %}

        <div class="sg-block-space">
            <h2>Lien vers la librairie Sketch</h2>
            <p>À ce jour, nous mettons à disposition une librairie Sketch, dans laquelle on pourra retrouver les composants graphiques utilisés dans ce Système de Design&nbsp;:</p>

            (lien à venir)
            {# <div class="wysiwyg">
                {% include "../../styleguide/component/2-molecule/m-sg-file.twig" with {
                    fileIsNotDownload: true,
                    fileUrl: "https://www.sketch.com/s/704e217d-0275-4576-9660-2b66a29d3f76",
                    fileTarget: "_blank",
                    fileName: "Librairie ANS - Sketch",
                } %}                
            </div> #}
            </div>

            <div class="sg-block-space">

            <h2>Mode d'emploi de la librairie Sketch</h2>
            <div class="wysiwyg">
                <ul>
                    <li>Cliquer sur le lien ci-dessus.</li>
                    <li>Une fois sur le Sketch cloud, cliquer sur "Add library" ou "Ajouter la librairie" ; cela basculera alors la librairie ANS sur votre Sketch.</li>
                    <li>Vous pouvez dès lors utiliser les composants du Système de Design sur votre Sketch en local.</li>
                    <li>À la sortie d'une nouvelle version de la librairie, Sketch vous informera via une notification qu'elle a été mise à jour.
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}