services:
#  # Blackfire
#  blackfire:
#    extends:
#      file: ${HOME}/.docksal/stacks/services.yml
#      service: blackfire
#  # Memcache Admin panel
#  memcachedadmin:
#    image: alphayax/phpmemcachedadmin:latest
#    hostname: memcachedadmin
#    volumes:
#      - ./etc/memcachedadmin/Memcache.php:/var/www/html/Config/Memcache.php
#    labels:
#      - io.docksal.virtual-host=memcachedadmin.${VIRTUAL_HOST}