# Override virtual host (matches project folder name by default)
VIRTUAL_HOST=gnius.docksal.site

### -- Uncomment one of this line in your docksal-local.env file depending on your environment -- ###
## For Docker Desktop ONLY
#DOCKSAL_HOST_IP="$(ip route list default | grep -E -o '([0-9]{1,3}[\.]){3}[0-9]{1,3}')"
## For Docker in WSL ONLY
#DOCKSAL_HOST_IP=$(ip -4 address show dev eth0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}')
## VPN
#DOCKSAL_HOST_IP=$(powershell.exe '(Get-NetIPConfiguration | Where-Object { $_.InterfaceDescription -like "Juniper*"}).IPv4Address.IPAddress')
## If you have a vEthernet (WSL) network interface
#DOCKSAL_HOST_IP=$(netsh.exe interface ip show address "vEthernet (WSL)"  | grep -E "Add?resse?"  |sed -r 's/[^0-9.]//g')
