<div class="wysiwyg">
    <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.
            <ul>
                <li>Lorem ipsum
                    <ul>
                        <li>Lorem ipsum
                            <ul>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
                                <li>Lorem ipsum</li>
                            </ul>
                        </li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </li>
                <li>Lorem ipsum
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
    </ul>

    <ol>
        <li>Premier item</li>
        <li>Deuxième item</li>
        <li>Troisième item Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
        <li>Quatrième item</li>
        <li>Cinquième item
            <ol>
                <li>Premier</li>
                <li>Deuxième
                    <ol>
                        <li>Premier</li>
                        <li>Deuxième</li>
                        <li>Troisième Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
                    </ol>
                </li>
                <li>Troisième</li>
            </ol>
        </li>
        <li>Sixième item</li>
        <li>Septième item</li>
    </ol>

    <ul>
        <li>le niveau 1 est une ul</li>
        <li>les éléments d'une liste dans une phrase commencent par une minuscule et se terminent par une virgule, sauf le dernier élément qui, s'il termine la phrase, prend un point.
            <ol>
                <li>Le niveau 2 est une ol</li>
                <li>Avec du texte long, pouvant s'écouler sur plusieurs lignes. Les éléments d'une liste formée de plusieurs phrases se comportent comme des alinéas (majuscule en début, point à la ﬁn).
                    <ul>
                        <li>Troisième niveau (ul)
                            <ul>
                                <li>Lorem ipsum
                                    <ol>
                                        <li>Quatrième niveau (ol)</li>
                                        <li>Lorem ipsum</li>
                                    </ol>
                                </li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                            </ul>
                        </li>
                        <li>Troisième niveau</li>
                        <li>Troisième niveau</li>
                    </ul>
                </li>
                <li>deuxième item de niveau 2</li>
            </ol>
        </li>
        <li>dernier item de niveau 1</li>
    </ul>
</div>