<div class="wysiwyg">
    <ol>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
    </ol>
</div>