<table>
    <caption>Légende de tableau</caption>
    <thead>
        <tr>
            <td></td>
            <th scope="col">Lorem ipsum</th>
            <th scope="col">Lorem ipsum</th>
            <th scope="col">Lorem ipsum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Lorem ipsum</th>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
        </tr>
        <tr>
            <th scope="row">Lorem ipsum</th>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
        </tr>
        <tr>
            <th scope="row">Lorem ipsum</th>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
        </tr>
    </tbody>
</table>