<header class="o-sg-page-title">
    <div class="sg-container-content">
        <h1>{{- pageTitleH1 -}}</h1>

        {% if pageTitleLead %}
        <p class="lead">{{- pageTitleLead -}}</p>
        {% endif %}
    </div>
</header>