{% extends "../../_layout.twig" %}

{% set title = 'Liste des pages' %}

{% block main %}

    <div class="container">
        <div class="wysiwyg">
            <h1>{{ title }}</h1>

            <ul>
                <li><a href="formulaire.html">Formulaire</a>
                <li><a href="composants.html">Composants</a>
            </li>
        </div>
    </div>

{% endblock %}