<nav class="breadcrumb-wrapper" role="navigation" aria-label="Fil d'ariane">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil{{ macro.svg('angle-right') }}</a></li>
        <li class="breadcrumb-item"><a href="#">Page 1{{ macro.svg('angle-right') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Page courante</li>
    </ol>
</nav>