 <nav class="fr-sidemenu navbar navbar-expand-lg navbar-light" aria-labelledby="fr-sidemenu-title">
                <div class="fr-sidemenu__inner navbar-collapse collapse sg-navbar-collapse">
                    <button
                    class="fr-sidemenu__btn"
                    hidden
                    aria-controls="fr-sidemenu-wrapper"
                    aria-expanded="false"
                    >
                    Dans cette rubrique
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-wrapper">
                    <div class="fr-sidemenu__title" id="fr-sidemenu-title">Titre de rubrique</div>
                    <li class="fr-sidemenu__item">
          <button
            class="fr-sidemenu__btn"
            aria-expanded="false"
            aria-controls="fr-sidemenu-item-0"
          >
            Niveau 1
          </button>
          <div class="fr-collapse" id="fr-sidemenu-item-0">
            <ul class="fr-sidemenu__list">
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
              <li class="fr-sidemenu__item">
                <button
                  class="fr-sidemenu__btn"
                  aria-expanded="false"
                  aria-controls="fr-sidemenu-item-0-sub"
                >
                  Niveau 2
                </button>
                <div class="fr-collapse" id="fr-sidemenu-item-0-sub">
                  <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self">
                        Accès direct niveau 3
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
              <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#" target="_self"
                  >Accès direct niveau 2</a
                >
              </li>
            </ul>
          </div>
        </li>
                    </ul>
                    </div>
                </div>
            </nav>