<div class="sg-menu-slide-bar">
    <nav class="navbar navbar-expand-lg navbar-light" role="navigation" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner navbar-collapse">
            {# mobile button #}
            <button data-toggle="collapse" data-target="#fr-sidemenu-wrapper"
            class="navbar-toggler"
            aria-controls="fr-sidemenu-wrapper"
            aria-expanded="false"
            >
                Dans cette rubrique
                {{ macro.svg("angle-down") }}
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                {# optionnal title #}
                <h3 class="menu-slide-bar__title" id="fr-sidemenu-title">Titre de rubrique (option)</h3>
                {# menu list #}
                <ul class="navbar-nav nav-lvl--1">
                <li class="nav-item common-nav-item">
                    <button class="nav-link" aria-expanded="false" aria-controls="fr-sidemenu-item-0" data-toggle="collapse" data-target="#fr-sidemenu-item-0">
                        Niveau 1
                        {{ macro.svg("angle-down") }}
                    </button>
                    <div class="nav-collapse collapse" id="fr-sidemenu-item-0">
                        <ul class="navbar-nav nav-lvl--2">
                            <li class="nav-item common-nav-item {%- if item.isActive %} is-active{% endif %}">
                                <a class="nav-link" href="#" target="_self">Accès direct niveau 2  {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}</a>
                            </li>
                            <li class="nav-item common-nav-item">
                                <button class="nav-link" aria-expanded="false" aria-controls="fr-sidemenu-item-0-sub" data-toggle="collapse" data-target="#fr-sidemenu-item-0-sub">
                                    Niveau 2
                                    {{ macro.svg("angle-down") }}
                                </button>
                                <div class="nav-collapse collapse" id="fr-sidemenu-item-0-sub">
                                    <ul class="navbar-nav nav-lvl--3">
                                        <li class="nav-item common-nav-item {%- if item.isActive %} is-active{% endif %}">
                                            <a class="nav-link" href="#" target="_self" d>Accès direct niveau 3 {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item common-nav-item {%- if item.isActive %} is-active{% endif %}">
                                <a class="nav-link" href="#" target="_self">Accès direct niveau 2 {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item common-nav-item {%- if item.isActive %} is-active{% endif %}">
                    <a class="nav-link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct  {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</div>