<div class="sg-header-principal__nav">
    <nav class="fr-sidemenu navbar navbar-expand-lg navbar-light" role="navigation" aria-labelledby="fr-sidemenu-title" data-fr-js-sidemenu-actionee="true">
        <div class="fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false" data-fr-js-collapse-button="true">
            Dans cette rubrique
        </button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper" data-fr-js-collapse="true">
            <div class="fr-sidemenu__title" id="fr-sidemenu-title">Titre de rubrique</div>
            <ul class="fr-sidemenu__list navbar-nav nav-lvl--1" data-fr-js-sidemenu-list="true">
            <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                <button class="fr-sidemenu__btn nav-link" aria-expanded="false" aria-controls="fr-sidemenu-item-0" data-fr-js-collapse-button="true">
                Niveau 1
                </button>
                <div class="fr-collapse" id="fr-sidemenu-item-0" data-fr-js-collapse="true" data-fr-js-sidemenu-section-actionee="true" style="--collapse: -304px;">
                <ul class="fr-sidemenu__list navbar-nav nav-lvl--2" data-fr-js-sidemenu-list="true">
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                    <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                    <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct niveau 2</a>
                    </li>
                </ul>
                </div>
            </li>
            
            <li class="fr-sidemenu__item nav-item common-nav-item" data-fr-js-sidemenu-item="true">
                <a class="fr-sidemenu__link" href="#" target="_self" data-fr-js-sidemenu-link-actionee="true">Accès direct</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
</div>