<div class="o-stepper">
    <span class="sr-only">Activités, étape 2 sur 3</span>
    <ol>
        <li class="o-stepper--checked">
            <a href="#">
                <span class="o-stepper__indicator" aria-hidden="true"></span>
                <span class="o-stepper__number">Étape 1 <span class="sr-only">Etape validé</span></span>
                <span class="o-stepper__name">Profession et justificatifs</span>
            </a>
        </li>
        <li class="o-stepper--current">
            <a href="#">
                <span class="o-stepper__indicator" aria-hidden="true">2</span>
                <span class="o-stepper__number">Étape 2 <span class="sr-only">Etape en cours</span></span>
                <span class="o-stepper__name">Activités</span>
            </a>
        </li>
        <li>
            <span class="o-stepper__indicator" aria-hidden="true">3</span>
            <span class="o-stepper__number">Étape 3</span>
            <span class="o-stepper__name">Validation</span>
        </li>
    </ol>
</div>