<section aria-labelledby="widget-access-title">
    <h2 class="o-widget-access__intro" id="widget-access-title">Options d'accessibilité</h2>

    <div class="o-widget-access">
        <div class="form-group form-group-custom-control">
            <fieldset id="contrast-id">
                <legend>Contrastes :</legend>

                <div class="o-widget-access__option">
                    <input id="default-c" value="default-c" name="contrast" checked="checked" type="radio" class="sr-only">
                    <label class="o-widget-access__label btn btn--ghost btn--primary btn-sm" for="default-c"><span class="sr-only">Contrastes</span> Standards</label>
                </div>
                <div class="o-widget-access__option">
                    <input id="high-c" value="high-c" name="contrast" type="radio" class="sr-only">
                    <label class="o-widget-access__label btn btn--ghost btn--primary btn-sm" for="high-c"><span class="sr-only">Contrastes</span> Renforcés</label>
                </div>
            </fieldset>
        </div>

        {# <div class="form-group form-group-custom-control">
            <fieldset id="line-space-id">
                <legend>Interlignage</legend>

                <div class="o-widget-access__option">
                    <input id="default-line-space" value="default-line-space" name="line-space" checked="checked" type="radio" class="sr-only">
                    <label class="o-widget-access__label btn btn--ghost btn--default" for="default-line-space"><span class="sr-only">Interlignage</span> Défaut</label>
                </div>
                <div class="o-widget-access__option">
                    <input id="dys-line-space" value="dys-line-space" name="line-space" type="radio" class="sr-only">
                    <label class="o-widget-access__label btn btn--ghost btn--default" for="dys-line-space"><span class="sr-only">Interlignage</span> Augmenté</label>
                </div>
            </fieldset>
        </div> #}
    </div>
</section>