[data-toggle="tooltip"] {
    margin: -0.4rem 0.5rem 0 0.5rem;
    display: inline-flex;
    vertical-align: middle;

    svg {
        font-size: 1.5rem;
        fill: var(--primary, $primary);
    }
}

.tooltip .arrow {
    display: none;
}

.tooltip-inner {
    text-align: left;

    * {
        line-height: 1.375;
    }

    :last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        font-family: $font-family-sans-serif;
        font-weight: $fw-semiBold;
        font-size: $tooltip-font-size;
        color: $tooltip-color;
    }
}