*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;

    &.overflow {
        overflow: hidden;
    }
}

iframe {
    display: block;
    width: 100%;
}

main {
    --main-margin-y: 3rem;
    padding-top: var(--main-margin-y);
    padding-bottom: var(--main-margin-y);

    @include media-breakpoint-up(lg) {
        --main-margin-y: 10rem
    }
}

.sg-container-content {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    margin-left: auto;
    margin-right: auto;
    max-width: 77rem + $grid-gutter-width*2;
}

// Space between components
.sg-block-space {
    margin-top: var(--sg-block-space);
    margin-bottom: var(--sg-block-space);
}

.js-menu-transition {
    .navbar-collapse {
        transition: transform 250ms ease, visibility 250ms ease;
    }
    .layout-navLeft {
        transition: margin 250ms ease;
    }
}

// Make children of columns have the same height
//      <div class="row col--eq-height">
.col--eq-height {
    > * {
        display: flex;
        flex-wrap: wrap;

        > * {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-is-open {
        overflow: hidden;
    }
}

@include media-breakpoint-up(lg) {
    .body-wrapper {
        padding-top: var(--sg-header-height); // space for fixed header
    }

    .layout-navLeft,
    .nav-is-open .layout-navLeft {
        margin-left: var(--sg-nav-left-width);
    }

    .nav-is-closed .layout-navLeft {
        margin-left: 0;
    }
}