<nav role="navigation" aria-label="Accès rapides">
    <ul class="nav-skip">
        <li><a href="#main">Aller au contenu</a></li>
        <li><a href="#menuPrincipalTarget">Aller à la navigation</a></li>
    </ul>
</nav>